.users {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  grid-row-gap: 50px;
  margin-top: 100px;
}
.pagination {
  float: right;
  margin-right: 200px;
}

.title {
  color: #5faff5;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.search {
  width: 40%;
  font-size: 16px;
  padding: 12px 20px 12px 5px;
  border: 1px solid #ddd;
  margin-left: 400px;
  font-weight: bold;
  margin-top: 30px;
}
