.user {
  width: 200px;
  height: 360px;
  border: 1px green;
  box-shadow: 1px 1px 9px 1px grey;
}

.user img {
  width: 100%;
  height: 300px;
}
.user-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.user-details p {
  margin: 0px;
}
